<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enkpay.ep_softpos_plugin">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".TransactionStatusActivity"
            android:exported="false" />
        <activity
            android:name=".EPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.LaunchActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>